
body {
  background-color: rgb(240, 244, 245);
}

#container {
  margin: 0 auto;
  width: 720px;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}

.achievement{
  text-align: left;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav > li {
  display: inline;
  padding: 2em;
}

#nav > li > a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}


h1{
	font-family: Open Sans;
	color: white;
  font-size: 72px;
}

h2{
	color:white;
  font-size: 18px;
  margin-bottom: 20px;
}

a{
	color: rgb(0,0,0);
	text-decoration: none;
}

a:hover {
text-decoration: underline
}

img{
	border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 0px 1px black;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

img:hover{
  transform: rotate(10deg) scale(1.1);
  -webkit-transform: rotate(10deg) scale(1.1);
}

#wrapper{
  background-image: url("../images/background/background.jpg");
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
  color:white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.spacer{
  height: 8em;
}


/* How to override the default Bootstrap navbar */

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}